<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>Insert title here</title>
<link rel="stylesheet" href="css/index.css" />
</head>
<body>
	<div class=container>
		<a class="title" href ="/">changi123</a> <img src="images/logo.jpg" alt=""
			class="logo" /> <span class="content">개발자 홍찬기 <br />타임라인♬</span>
		<div class="log-btn">
			<a href="/login" class="log-btn-2">
				<span class="login">로그인</span>
			</a>
		</div>
		<div class="reg-btn">
			<a href="/register" class="reg-btn-2">
				<span class="register">회원가입</span>
			</a>
		</div>
	</div>
</body>
</html>