<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>Insert title here</title>
<link rel="stylesheet" href="css/login.css" />
<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
</head>
<body>
	<div class="login-container">
		<h2>Login</h2>
		<form action="">
			<input type="text" name="username" placeholder="아이디" id ="userId" required>
			<input type="password" name="password" placeholder="비밀번호" id ="userPassword" required>
			<input type="submit" id="loginButton" value="로그인"> <input
				type="button" class="back-button" value="뒤로가기"
				onclick="history.back()">
		</form>
	</div>
</body>
<script type="text/javascript">
	document.getElementById("loginButton").addEventListener("click",function(e) {
				e.preventDefault();
				var param  = {
						userId : $("#userId").val(),
						userPassword : $("#userPassword").val(),
				}
				$.ajax({
					url  : "user/login",
					data : param,
					success : function(res){
						if( res == 1){
							alert("로그인 성공");
						}else{
							alert("실패");
						}
					}
				
				});
			});
</script>
</html>