<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1" />
<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
<link rel="stylesheet" href="css/timeLine.css" />
<title>Insert title here</title>
</head>
</head>
<div class=e12_15>
	<span class="title">Changi123</span>
	<div class="content-box">
		<img src="images/logo.jpg" alt="" class="logo" />
		<span class="e14_39">개발자 홍찬기</span><span class="e14_40">github
			: changi123</span><span class="e14_41">phone : 010-9668-1635</span><span
			class="e14_42">열정 긍정왕입니다.</span>
	</div>
	<div class=e14_26>
		<div class="e14_27"></div>
		<span class="e14_28">채팅방</span>
	</div>
	<div class=e14_33>
		<div class="e14_34"></div>
		<span class="e14_35">로그아웃</span>
	</div>
	<span class="e14_29">방명록을 남겨주세요.</span><input class="e14_32"/>
</div>
</html>